<ion-header>
  <ion-toolbar>
    <ion-title>cloud-connect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <!-- Input with placeholder -->
  <ion-item>
    <ion-label position="floating">Enter your name</ion-label>
    <ion-input [(ngModel)]="userName" type="text" id="name-input"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createLocation()">Log Status</ion-button><br>
    
  <!-- <ion-item>
    <ion-label type="number" position="floating">Enter ID</ion-label>
    <ion-input></ion-input>
  </ion-item><br>

  <ion-button (click)="lookupById()" expand="full"> Lookup by ID </ion-button><br> -->

  <ion-button (click)="listLocations()" expand="full"> List all Locations </ion-button><br>

  <ion-list>
		<ion-item *ngFor="let location of this.allLocations">
      <ion-label> {{ location.name }} </ion-label>
      <ion-label> {{ location.latitude }} </ion-label>
      <ion-label> {{ location.longitude }} </ion-label>
		</ion-item>
	</ion-list>


  
</ion-content>
