<ion-header>
  <ion-toolbar>
    <ion-title>
      Compass
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>My Lat = {{ this.bearingSerivce.getMyLat() }}</ion-label><br>
  <ion-label>My Long = {{ this.bearingSerivce.getMyLong() }}</ion-label><br>
  
  <ion-button (click)="this.bearingSerivce.logOrientation()" expand="full"> Log Orientation</ion-button><br>

  <ion-label>Magnetic Heading: {{ this.bearingSerivce.magneticHeading }}</ion-label><br>
  <ion-label>True Heading: {{ this.bearingSerivce.trueHeading }}</ion-label><br><br>

  <ion-button (click)="this.bearingSerivce.subscribe()" expand="full"> Watch Orientation</ion-button><br>

  <ion-button (click)="this.bearingSerivce.unsubscribe()" expand="full"> Stop Watching Orientation</ion-button><br>
</ion-content>
