<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>My Lat = {{ bearingSerivce.getMyLat() }}</ion-label><br>
  <ion-label>My Long = {{ bearingSerivce.getMyLong() }}</ion-label><br>
  
  <ion-button (click)="logOrientation()" expand="full"> Log Orientation</ion-button><br>

  <ion-label>Magnetic Heading: {{ magneticHeading }}</ion-label><br>
  <ion-label>True Heading: {{ trueHeading }}</ion-label><br><br>

  <ion-button (click)="subscribe()" expand="full"> Watch Orientation</ion-button><br>

  <ion-button (click)="unsubscribe()" expand="full"> Stop Watching Orientation</ion-button><br>
</ion-content>
