<ion-header>
  <ion-toolbar>
    <ion-title>
      Compass
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Their Lat = {{ this.bearingSerivce.getTheirLat() }}</ion-label><br>
  <ion-label>Their Long = {{ this.bearingSerivce.getTheirLong() }}</ion-label><br><br>
  <ion-label>My Lat = {{ this.bearingSerivce.getMyLat() }}</ion-label><br>
  <ion-label>My Long = {{ this.bearingSerivce.getMyLong() }}</ion-label><br>
  
  <ion-button (click)="this.bearingSerivce.logOrientation()" expand="full"> Log Orientation & Loc</ion-button><br>

  <ion-label>Magnetic Heading: {{ this.bearingSerivce.magneticHeading }}</ion-label><br>
  <ion-label>True Heading: {{ this.bearingSerivce.trueHeading }}</ion-label><br><br>

  <ion-button (click)="watchMe()" expand="full"> Watch Orientation & Loc</ion-button><br>

  <ion-button (click)="stopWatching()" expand="full"> Stop Watching Orientation & Loc</ion-button><br><br><br>

  <ion-label> Calculated Bearing: {{ this.bearingSerivce.navBearing }}deg</ion-label><br>
  <ion-label> Calculated Distance: {{ this.bearingSerivce.navDistance }}m</ion-label><br>
  <ion-button (click)="calculateStats()" expand="full"> Calculate Bearing </ion-button><br><br><br>

  <ion-button [routerLink]="'./cloud-connect'" expand="full"> To Cloud-Connect </ion-button>
</ion-content>
